<h1>Now Doing</h1>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

What are you DOING?
<%= form_for @micropost do |f| %>
<div class="field">
<%= f.text_area :content %>
</div>
<div class="actions">
<%= f.submit "Submit" %>
</div>
<% end %>

<table border="1">
<tr>
<td><%= @nowreading %></br>
	<p>Search Amazon for: "<%= @reading_link %>"</p></td>
<td><%= @nowlistening %></td>
<td><%= @nowdoing %></td>
</tr>
<tr>
<td><%= @nowvisiting %></td>
<td><%= @noweating %></td>
<td><%= @nowbuying %></td>
</tr>
<tr>
<td><%= @nowwearing %></td>
<td><%= @nowattending %></td>
<td><%= @nowposting %></td>
</tr>
</table>

<table class="profile">
<tr>
<td class="main">
<% unless @user.microposts.empty? %>
<table class="microposts" summary="User microposts">
<%= render @microposts %>
</table>
<% end %>
</td>
<td class="sidebar round">
<strong>Name</strong> <%= @user.name %><br />
<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
<strong>Microposts</strong> <%= @user.microposts.count %>
</td>
</tr>
</table>